# Local development overrides (used outside Docker)
DEBUG=True
SERVE_MEDIA=True
ALLOWED_HOSTS=127.0.0.1,localhost
BASE_URL=http://127.0.0.1:8000/
DATABASE_URL=sqlite:///db.sqlite3
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
